.el-table {
  color: #333;

  thead {
    color: #333;
  }

  th,
  td {
    padding: 8px 0;
    vertical-align: top;
  }

  th.is-leaf,
  td {
    border-bottom: 1px solid #EEE;
  }

  th {
    background: #FAFAFA;

    // 消除 ElementUI原本的设定
    // .el-table th > .cell { display: inline-block }
    // 带来的底部空白

    // TODO 嵌套 popover时高度不对
    &.is-leaf {
      font-size: 0;
      font-weight: 400;
    }

    // 2.13.0 加入了 padding-left: 10px ; padding-right: 10px 的默认样式，需要覆盖
    & > .cell {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .cell {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-size: 14px;
  }
}

.el-table__empty-block {
  min-height: 88px;
}

.el-table__empty-text {
  font-size: 24px;
  color: #999;
}
